* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}


.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 10vh;
}

.search-input {
    background-color: #e5e5e5;
    border-radius: 15px;
    margin-bottom: 30px;
    width: fit-content;
}

.search-input input {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
    background-color: #F0EAEA;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6360B5;
    border-radius: 0 15px 15px 0;
    padding: 20px 0;
}

.links nav ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}

.links nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 0.2s ease-in-out;
}

.links nav ul li a:hover {
    color: grey;
}

.main {
    margin: 20px auto;
    text-align: center;
}

.main .title {
    font-size: 42px;
}

.main .data-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #E5E5E5;
    padding: 50px;
    margin: 50px 0;
    border-radius: 15px;
    text-align: left;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* ajuste o tamanho conforme necessário */
    text-align: center;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto; /* ajusta a altura automaticamente */
    object-fit: cover; /* mantém a proporção da imagem */
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    margin: 5px 0;
}

.card-author, .card-year{
    font-size: 14px;
    color: #555;
}

.description {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px; 
    font-size: 18px;
    text-align: center; 
}
