{% extends 'acervo/base.html' %}

{% block title %}Adiconar Contato{% endblock title %}

{% block titulo %}Adicionar Contato{% endblock titulo %} 

{% block conteudo %}
    <span class="description">Para adicionar um contato, preencha os campos abaixo:</span>
    <form action="" method="post" class="data-form">
        {% csrf_token %}
        <label>
            Nome:
            <input type="text" placeholder="Digite o nome do contato" name="nome" required>
        </label>
        <label>
            email:
            <input type="email" placeholder="Digite o número do contato:" name="email" required>
        </label>
        <input type="submit">
    </form>
{% endblock conteudo %}