{% extends 'acervo/base.html' %}

{% block title %}Itens Emprestados{% endblock title %}

{% block titulo %}Itens Emprestados{% endblock titulo %}

{% block conteudo %}
    <div class="container">
        <span class="description">Itens do seu acervo que estão emprestados</span>
        <form class="search-input" method="get">
            <input type="text" placeholder="Pesquisar título..." name="q">
        </form>
        <div class="item-list">
            {% for item in itens %}
                <div class="card">
                    <img src="{{ item.imagem.url }}" alt="" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">{{ item.titulo }}</h2>
                        <p class="card-author">{{ item.autor }}</p>
                        <p class="card-year">{{ item.ano }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock conteudo %}