{% extends 'acervo/base.html' %}

{% block title %}Itens Emprestados{% endblock title %}

{% block titulo %}Itens Emprestados{% endblock titulo %} 

{% block conteudo %}
    <span class="description">Itens do seu acervo que estão emprestados</span>
    {% for item in itens %}
        <div>
            {{ item.titulo }}
            {{ item.autor }}
            <img src="{{ item.imagem.url }}" alt="">
            {{ item.ano }}
            {{ item.status }}
        </div>
    {% endfor %}
{% endblock conteudo %}