{% extends 'acervo/base.html' %}

{% block title %}Registrar Empréstimo{% endblock title %}

{% block titulo %}Registrar Empréstimo{% endblock titulo %} 

{% block conteudo %}
    <span class="description">Para registrar o empréstimo de algum item, preencha os campos abaixo:</span>
    <form action="" method="post" class="data-form">
        {% csrf_token %}
        <select name="item" id="">
            {% for item in itens %}
                <option value="{{ item.id }}">{{ item.titulo }}</option>
            {% endfor %}
        </select>
        <label>
            Contato:
            <select name="contato" id="">
                {% for contato in contatos %}
                    <option value="{{ contato.id }}">{{ contato.nome }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Data do empréstimo:
            <input type="date" name="data-emprestimo">
        </label>
        <input type="submit">
    </form>
{% endblock conteudo %}
